<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='icon.png') }}"
    />
    <title>Text To Image Web Application</title>
  </head>
  <body>
    <header>
      <h1>Text To Image Web Application</h1>
      <p>
        Flask web application and running it on Google Colab. We will utilize
        ngrok to expose the application to the public, enabling users to
        generate images from text using the StableDiffusion model.
      </p>
    </header>
    <form action="\submit-prompt" method="post" id="submission-form">
      <div class="input-container">
        <label for="prompt">Prompt:</label>
        <input
          type="text"
          id="prompt"
          name="prompt-input"
          placeholder="Prompt"
        />
      </div>
      <button class="button-submit" type="submit">Generate</button>
    </form>
    <div class="imgs-container">
      <img
        src="{{ 
        generated_image |
        default('https://images.squarespace-cdn.com/content/v1/6213c340453c3f502425776e/0715034d-4044-4c55-9131-e4bfd6dd20ca/2_4x.png?format=512w', true) 
      }}"
        class="mainImg"
        alt="Generated Image"
      />
    </div>
  </body>
</html>
